* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #f8f5e4;

}


/* 
.showcase-image {
    
    background-image: url(../images/Guadalupe_Peak_from_Hunter_Peak.jpg);
    background-repeat: no-repeat;
    background-size: 100% ;
    object-fit: contain;
    width: auto;
    height: auto; 

} */

.navbar {
    /* background: none; */
    background-color: transparent;
    color: #fff;
}

.navbar-brand {
    color: white;
}

.nav-link {
    text-transform: lowercase;
    color: white;
    justify-content: space-around;
}

.nav-link:hover{
    color: #fff;
    border-bottom: 1px #fff solid;
    /* padding: 10px; */
    /* margin: 0 5px; */
}

.navbar-toggler-icon {
    color: #fff;
 
}

.navbar-dark {
    color: #fff;
}

.container1 {
    /* display: flex; */
    margin: auto;
    align-content: center;
    background-image: url(../images/Guadalupe_Peak_from_Hunter_Peak.jpg);
    /* max-width: 1500px; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    /* width: 100%; */
    overflow: auto;
}


.container2 {
    align-content:  center;
    max-width: 1100px;
    margin: auto;
   
}

.middle-container {
    align-content: center;
    /* margin: auto; */
    background-color: rgba(0, 0,0, 0.3);
}

.showcase {
    width: 100%;
    height: 600px;
    padding: 20px;
    /* z-index: 1; */
}
.showcase h1, p{
    color: #f8f5e4;
    padding: 10px;
    margin-top: 10px;
    /* font-size: 2em; */
}

.showcase h1{
    font-size: 3.5em;
    float: right;
    /* background-color:#f2dcbb;
    opacity: 0.6; */

}

.info {
    /* margin-top: 500px; */
    /* margin: 5px 0; */
    margin: auto;
    max-width: 1100px;
    padding: 10px;
    background-color: rgba(0, 0,0, 0.3);
    color: #fff;
    /* font-size: 1.5em; */
    text-transform: lowercase;
    justify-content: space-around;
    
}

.col-sm {
    width: 90%;
    margin: 5px;
    border-top: 2px #fff solid;
    border-bottom: 2px #fff solid;
    /* justify-content: space-around; */
}

.lower-container {
    background-image: url(/images/autumn.jpg);
    color: black;

}

@media (max-width: 900px) {
    .showcase h1{
        font-size: 3em;
        float: center;
    }
} 

@media (max-width: 800px) {
    .showcase h1 {
        font-size: 2.8em;
        text-align: center;
    }
    
}